.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App-Content { 
  flex-direction: column;
  gap: 8px; 
  max-width: 402px;
  display: flex;
}
.about-p { 
  margin: 10px;
  font-size: small;
  color: black; 
}