.generate-form { 
    display: flex;
    gap: 8px; 
}
.login-button{
    padding: 10px;
    border-radius: 6px;
    border: none; 
    background-color: #0072b1;
    font: "Klavika"; 
    color: white; 
    font-weight: bold;
    font-size: 16px;
}

.generateInput{
    padding: 10px;
    font-family: Sans-Serif;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 6px;
    resize: none;
    display:block;
    flex-grow: 1; 
    font-size: 16px;
}
.generateInput:focus {
    outline-width: 0;
}
