.about-ul { 
    font-size: 16px;
    color: black; 
    background-color: white;
    border-radius: 6px;
    border: 1px solid #dddddd;
    padding-bottom: 10px; 
    margin-bottom: 6px;
}
.about-ul-header { 
    margin-bottom: 6px; 
}