.generateInput{
    width: 80%; 
    margin: 10px; 
    padding: 10px;
    line-height: 1em;
    height: 30vh; 
    font-family: Sans-Serif;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 10px;
    resize: none;
}
.generateInput:focus {
    outline-width: 0;
}

