.generateInput{
    padding: 10px;
    font-family: Sans-Serif;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 6px;
    resize: none;
    display:block;
    flex-grow: 1; 
}
.generateInput:focus {
    outline-width: 0;
}

